@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;1,400;1,500&family=Open+Sans:wght@500&family=Outfit:wght@100..900&family=Rubik+Glitch&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
   font-family: "Outfit", sans-serif;
   font-weight: 400;
  
}
nav{
 background-color: #fff;
  width: 100%;
  min-height: 8vh;
  
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
  position: fixed;

  z-index: 1000; 
 background-color: #fff;
}

#icon {
  position: absolute;
  left: 27px; /* Adjusted left position */
  z-index: 999;
}

#search {
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  width: 90%;
  border-color: #000;
  position: relative;
  padding-left: 25px; /* Added padding to accommodate the icon */
}

.cont {
 display: flex;
 width: 100%;
margin-bottom: 6px;
 border: 0.5px solid #9d9d9dbf;
 padding:17px 0;
 border-radius: 10px;
  /* background: linear-gradient(16deg , #4b90ff , #ff5546); */
  background-color: #f6f7f8;
  transition: all .2s ease;
  
}

.studentDets{
 padding: 10px 20px;

}

.cont h3{
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 padding: 0  4px;
 border-right:1px solid #9d9d9dbf ;
 height: 100%;
 pointer-events: none;
}
.cont h3:nth-last-child(1){
 border-right:none ;
}
#name,#Disname{
 width: 35%;
 
}
#grade,#Disgrade{
 width: 20%;

 
}
#rollNo,#DisrollNo{
 width: 17%;
 
}
#section,#Dissection{
 width: 16%;
}
#id,#Disid{
 width: 26%;

}

.stdCont{
 margin-top: 10px;
 transition: all .2s ease;
}
.displayer{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0 25px;
 
 
}
.displayer h3{
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.disId{
padding-left: 15px;
}
.disSection{
padding-left: 5px; 
}
.cont:active{
 transform: scale(0.9);
}
.cont h7{
 opacity: 0;
 display: none;
}
.page2{
 width: 100vw;
 height: 200vh;
 position: absolute;
 background-color: #dadada;
 z-index: 1000000;
 transform: translate(100%,0);
 display: none;
 overflow: hidden;
}
.page2NavPart2{
 display: flex;  
 text-align: center;
 align-items: center;
 flex-direction: column;
}

.page2Details{
  padding: 5px 20px;
  margin-top: 10px;
  
 }
.page2Details p{ 
 font-size: 15px;
}
.page2 hr{
 width: 90%;
}

#download-btn{
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
 
  border-color: #000;
  position: relative;
  padding-left: 25px; /* Added padding to accommodate the icon */ 
  color: #fff;
  background-color:#2fb477 ;
  outline: none;
  border: none; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonCont{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 10px;
}
#table1{
 margin-top: 20px;
 margin-bottom: 20px;
}
#table1 th{
 border-right: 1px solid #000;
 border-bottom: 1px solid #000;
}
table th:nth-last-child(1){
 border-right:none; 
}

#table3 th{
 border: 1px solid #000;
}
#table2 th{
 border: 1px solid #000;
}
#table3{
display:none ;
}
.page2Bottom{

 align-items: center;
justify-content: center;
 
}
#showMore{
padding: 10px 20px;
  border-radius: 8px;
  outline: none; 
  border-color: #000;
  position: relative;
  padding-left: 25px; /* Added padding to accommodate the icon */ 
  color: #fff;
  background-color:#2fb477 ;
  outline: none;
  border: none; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.center{
 display: flex;
 align-items: center;
 justify-content: center;
}